.Bio {
  display: grid;
  max-width: none;
  width: fit-content;
  grid-template-columns: 0.25fr 1fr;
  grid-auto-rows: 1fr;

  .Bio__image {
    background-color: var(--accent-color);
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
  }

  .Bio__details {
    margin: 0;
    max-width: none;
    padding: 16px;
  }
}
