.App {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  width: 100vw;

  &.is-theme-gray {
    --main-color: #f5f8f9;
    --accent-color: darken(#f5f8f9, 5%);

    --git-color-0: darken(#f5f8f9, 40%);
    --git-color-1: darken(#f5f8f9, 25%);
    --git-color-2: darken(#f5f8f9, 10%);
    --git-color-3: #f5f8f9;
  }

  &.is-theme-pink {
    --main-color: #ffbabe;
    --accent-color: darken(#ffbabe, 5%);

    --git-color-0: darken(#ffbabe, 40%);
    --git-color-1: darken(#ffbabe, 25%);
    --git-color-2: darken(#ffbabe, 10%);
    --git-color-3: #ffbabe;
  }

  &.is-theme-green {
    --main-color: #aad7a3;
    --accent-color: darken(#aad7a3, 5%);

    --git-color-0: darken(#aad7a3, 40%);
    --git-color-1: darken(#aad7a3, 25%);
    --git-color-2: darken(#aad7a3, 10%);
    --git-color-3: #aad7a3;
  }

  &.is-theme-yellow {
    --main-color: #ffc988;
    --accent-color: darken(#ffc988, 5%);

    --git-color-0: darken(#ffc988, 40%);
    --git-color-1: darken(#ffc988, 25%);
    --git-color-2: darken(#ffc988, 10%);
    --git-color-3: #ffc988;
  }

  &.is-theme-blue {
    --main-color: #abdac9;
    --accent-color: darken(#abdac9, 5%);

    --git-color-0: darken(#abdac9, 40%);
    --git-color-1: darken(#abdac9, 25%);
    --git-color-2: darken(#abdac9, 10%);
    --git-color-3: #abdac9;
  }

  &.is-theme-purple {
    --main-color: #c9bad1;
    --accent-color: darken(#c9bad1, 5%);

    --git-color-0: darken(#c9bad1, 40%);
    --git-color-1: darken(#c9bad1, 25%);
    --git-color-2: darken(#c9bad1, 10%);
    --git-color-3: #c9bad1;
  }

  .App__scroll {
    height: 100%;
    height: 100vh;
    margin: 0;
    max-width: none;
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .App__grid {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100em;
    padding: 24px;
    width: 100%;
  }
}
