.Description {
  line-height: 0;

  .Description__subtext {
    bottom: 0;
    color: gray;
    display: block;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 0 0 16px;

    * {
      line-height: 1.2rem;
    }
  }

  .Description__list {
    li {
      font-size: 0.9rem;
      line-height: 1.25rem;
      list-style-type: square;
      margin: 0 0 8px;
    }
  }
}
